{% extends 'base.html' %}
{% load rest_framework %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" style="border-radius:10px !important; background-color: #d1d3d4;">
  <div class="container-sm">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a href="{% url 'tasks:task-list'%}"class="btn   m-1"><i class="fa-solid fa-list-check"style="color: #595959;"></i> Task Manager</a>
      </div>
    </nav>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle badge text-black" href="#" id="rightnavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user"style="color: #ffffff;" ></i>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rightnavDropdown">
            <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'tasks:task-list' %}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
        </ul>
      </li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={% url 'tasks:task-list' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}