{% extends 'base_menu2.html' %}
{% load rest_framework %}
{% block title %} Task Manager - Create {% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <br>
  <div class="p-3" style="border-radius:10px !important; background-color:#f8f9f9; ">
    <form class="-0auto" style="" action="/tasks/create/" method="post">
      {% csrf_token %}
      <h6 class="">Do you want to Create a new Task?</h6>
      <div class="form-group">
        {% render_form serializer  %}
        <br>
        <div class="text-center align-items-center justify-content-center d-flex">
          <button type="submit" class="btn btn-outline-secondary"><i class="fa-solid fa-plus-square"></i> Create </button> 
          <a href="{% url 'tasks:task-list' %}" class="btn btn-secondary d-inline mx-2"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Cancel</a>

        </div>  
      </div>
    </form>
  </div>
{% endif %}

{% endblock content %}
