{% extends 'base_menu2.html' %}
{% load rest_framework %}
{% load humanize %}
{% block title %} Task Manager - Detail {% endblock %}
{% block content %}
<br/>
<div class="p-3" style="border-radius:10px !important; background-color:#f8f9f9; ">
  {% csrf_token %}
  <h4 class="">Task Detail:</h4>
  <br/>
  <table class="table table-striped">
    <tbody>
      <tr> 
        <th>Title</th>
        <td>{{ task.title }} </td>
      </tr>
      <tr>
        <th>Description</th>
        <td class=" w-1  h-50 overflow-x-hidden d-flex flex-column align-items-stretch overflow-y-auto">
          {{ task.description }}
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{task.get_status_display}}</td>
      </tr>
      <tr>
        <th>Priority</th>
        <td>{{task.get_priority_display}}</td>
      </tr>
      <tr>
        <th>Owner</th>
        <td>{{ task.owner.username }}</td>
      </tr>
      <tr>
        <th>Due Date</th>
        <td>{{ task.due_date | date:"F d, Y" }}</td>
      </tr>
      <tr>
        <th>Created at</th>
        <td>{{ task.created_at | date:"F d, Y" }}</td>
      </tr>
      <tr>
        <th>Updated at</th>
        <td>{{ task.updated_at | date:"F d, Y" }}</td>
      </tr>
      
    </tbody>
  </table>
</div>
<br>

    {% if user.is_authenticated %}
    <div class="card mt-3">
      <div class="card-header">
        <h4 class="card-title">Add Comment For This Task</h4>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'tasks:task_comment_create' task.id %}" class="mb-3">
          {% csrf_token %}
          <textarea name="text" class="form-control" rows="3" placeholder="Add a comment..." required></textarea>
          <div class="text-center align-items-center justify-content-center d-flex">
          <button type="submit" class="btn btn-secondary mt-3"><i class="fa-solid fa-plus-square"></i> Add</button>
          </div> 
        </form>
      </div>
    </div>
  {% endif %}
<br/>
{% if comments %}
<div class="custom-div"style="height: 400px; overflow-y: auto;">
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th><i class="fa-solid fa-comment"style="color: #595959;"></i> Comments <i class="fa-solid fa-comment"style="color: #595959;"></i></th>
      </tr>
    </thead>
    <tbody>
      
      {% for comment in comments %}
        <tr>
          <td class="h-50 overflow-x-hidden d-flex flex-column align-items-stretch overflow-y-auto">
            {{ comment.text }}
            <br>
            <small>
                Wrote by {{ comment.writer.username }}
              {{ comment.updated_at | naturaltime }}
              {% if user == comment.writer %}
              <a  class="delete-button" href="{% url 'tasks:task_comment_delete' comment.id %}" onclick="e.preventDefault" ><i class="fa fa-trash text-danger"></i></a>
            {% endif %}
            </small>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<script>
  $(document).ready(function() {
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
      }
    });
    $(".delete-button").click(function(e) {
      e.preventDefault();

      var href = $(this).attr("href");
  
      $.ajax({
        url: href,
        method: "DELETE",
        success: function() {
          alert("Comment deleted successfully!");
          window.location.href = window.location.href;
        },
        error: function() {
          alert("An error occurred while deleting the Comment.");
        }
      });
    });
  });
</script>  
{% endblock content %}

